@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Liter&family=Open+Sans:wght@300..800&family=Outfit:wght@100..900&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

* {
    font-family: Outfit;
}

.active hr {
    @apply !block ;
}

::-webkit-scrollbar {
    @apply hidden;
}

@media (max-width: 768px) {
    .active p {
        @apply text-white bg-primary;
    }
}